
<div class="header">
  <div class="date"><strong><i class="fa indicator fa-long-arrow-left"></i> Shipment #<%= data.number %></strong>  (<%= data.date %>)
  </div>
</div>

<div class="components">
  <% data.components.forEach(function(s) { %>
  <div class="component">
    <div class="contents">
      <div class="swatch
        <% if (s.category == 'TRO') { %> trophy <% } %>
        <% if (s.protected) { %> protected <% } %>
        <% if (s.category == 'TRO' && s.protected) { %> both <% } %>
        <% if (s.initiative) { %> initiative <% } %>
      "></div>
      <div class="name">
        <% if (s.generic) { %>
        <span class="uppercase"><%= s.specific %> <%= s.generic %> </span>
        <% } else { %>
        <span>Unknown </span>
        <% } %>
        <% if (s.categoryName) { %>
        <div class="category"><%= s.categoryName %></div>
        <% } %>
      </div>
      <div class="manifest">
        <%= commafy(s.qty) %>
        <% if (s.unit != "no") { %>
        <%= s.unit %>
        <% } %>
        from <%= s.countryName %>
      </div>
    </div>
  </div>
  <% }); %>
</div>