@import "flexbox";

.month {
  clear: both;
  padding-bottom: 3px;
}

.month-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.box {
  background: lighten(@gray, 15%);
  float: left;
}

.calendar {
  position: relative;

  .month-group {
    width: 100% / 6;
    cursor: pointer;
    padding: 10px;
    display: inline-block;

    @media @mobile {
      width: 100% / 3;
    }

    .month-size {
      display: none
    }
  }

  .box {
    height: 4px;
    width: 4px;
  }

  .tooltip {
    display: none;
  }
}

.focus {
  .display-flex();
  padding: 8px;
  .align-items(stretch);

  @media @mobile {
    display: block;
  }

  .boxes {
    .flex(0 0 320px);
  }

  .details {
    clear: both;
    .flex(1);
    border-left: 1px solid @gray;
    padding: 8px;
    overflow-y: auto;

    @media @mobile {
      width: 100%;
      border-left: none;
      max-height: 300px;
      background-image: linear-gradient(to bottom, white, white 250px, #EEE 300px)
    }
  }

  @import "details";

  .box {
    height: 16px;
    width: 20px;
    margin: 1px;
    cursor: pointer;
    position: relative;

    .tooltip {
      border-bottom: 3px solid black;
      background: white;
      position: absolute;
      bottom: calc(~"100% + 4px");
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      white-space: nowrap;
      padding: 4px;
      display: none;
    }

    &:hover {
      background: @gray;

      .tooltip {
        display: block;
      }
    }
  }
}