[data-filter=protected] {
  .swatch.protected {
    display: inline-block;
  }

  .chatter.protected {
    display: block;
  }

  [class*=protected-], .swatch.protected {
    background: darken(@yellow, 15%);
  }

  // [class*="-elephant "], [class*="-rhinoceros "], [class*="-tiger "], [class*="-lion "], [class*="-leopard "], [class*="-cheetah "], [class*="-marine-turtle "], [class*="-shark "], [class*="-ray "], [class*="-pangolin "],
  // [class$=-elephant], [class$=-rhinoceros], [class$=-tiger], [class$=-lion], [class$=-leopard], [class$=-cheetah], [class$=-marine-turtle], [class$=-shark], [class$=-ray], [class$=-pangolin], .protected.endangered {
  //   background: darken(@red, 10%);
  // }

}

[data-filter=trophies] {
  .swatch.trophy {
    display: inline-block;
  }

  .chatter.trophies {
    display: block;
  }

  [class*=-tro-], .swatch.trophy {
    background: darken(@orange, 5%);
  }
}

[data-filter=both] {
  .swatch.both, .swatch.trophy {
    display: inline-block;
  }

  .chatter.both {
    display: block;
  }

  [class*=-tro-], .swatch.trophy {
    background: lighten(@orange, 15%);
  }

  [class*=protected-tro-], .swatch.both {
    background: darken(@orange, 10%);
  }
}

[data-filter=initiative] {
  .swatch.initiative {
    display: inline-block;
  }

  .chatter.initiative {
    display: block;
  }

  [class*=-initiative], .swatch.initiative {
    background: lighten(@purple, 15%);
  }
}
