[data-filter=trophies] {

  .swatch.trophy, .swatch.endangered.trophy {
    display: inline-block;
  }

  [class*=-tro-], .trophy {
    background: @yellow;
  }

  [class*=endangered-tro-], .endangered.trophy {
    background: darken(@yellow, 25%);
  }
}

[data-filter=pai] {

  .swatch.endangered, .swatch.endangered.protected {
    display: inline-block;
  }

  [class*=endangered-], .endangered {
    background: lighten(@red, 20%);
  }

  [class*="-elephant "], [class*="-rhinoceros "], [class*="-tiger "], [class*="-lion "], [class*="-leopard "], [class*="-cheetah "], [class*="-marine-turtle "], [class*="-shark "], [class*="-ray "], [class*="-pangolin "],
  [class$=-elephant], [class$=-rhinoceros], [class$=-tiger], [class$=-lion], [class$=-leopard], [class$=-cheetah], [class$=-marine-turtle], [class$=-shark], [class$=-ray], [class$=-pangolin], .protected.endangered {
    background: darken(@red, 10%);
  }

}