[data-filter=trophies] {
  // .selected {
  //   background: darken(#ed7162, 5%);
  // }

  [class*=tro-] {
    background: darken(#fcbd7c, 5%);

    // &:hover, &.clicked {
    //   background: darken(#fcbd7c, 45%);
    //   border: 2px solid @df-middle-gray;
    // }
  }

  .tro-elephant, .tro-rhinoceros, .tro-african-buffalo, .tro-lion, .tro-leopard {
    background: darken(#ed7162, 0%);

    // &:hover, &.clicked {
    //   background: darken(#ed7162, 35%);
    //   border: 2px solid @df-middle-gray;
    // }
  }
}

// [data-filter=bigfive] {
//   .selected {
//     background: darken(#fcbd7c, 25%);
//   }
//   .tro-elephant, .tro-rhinoceros, .tro-african-buffalo, .tro-lion, .tro-leopard {
//     background: darken(#fcbd7c, 25%);

//     &:hover, &.clicked {
//       background: darken(#fcbd7c, 45%);
//       border: 2px solid @df-middle-gray;
//     }
//   }
// }

[data-filter=pai] {
  // .selected {
  //   background: lighten(#57375c, 15%);
  // }
  [class*="-elephant "], [class*="-rhinoceros "], [class*="-tiger "], [class*="-lion "], [class*="-leopard "], [class*="-cheetah "], [class*="-marine-turtle "], [class*="-shark "], [class*="-ray "], [class*="-pangolin "],
  [class$=-elephant], [class$=-rhinoceros], [class$=-tiger], [class$=-lion], [class$=-leopard], [class$=-cheetah], [class$=-marine-turtle], [class$=-shark], [class$=-ray], [class$=-pangolin] {
    background: lighten(#57375c, 15%);

    // &:hover, &.clicked {
    //   background: darken(#57375c, 5%);
    //   border: 2px solid @df-middle-gray;
    // }
  }
}