* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";

body {
  max-width: 960px;
  font-size: 16px;
  font-family: @df-sans;
}

.outmost {
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
  margin: 20px 0;
  padding: 20px 0;
}

.title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding-bottom: 1px;
}

.loading {
  text-align: center;
  font-style: italic;
  padding: 10px;
}

.toggle-box {
  text-align: center;
}

.toggle {
  background: @df-middle-gray;
  display: inline-block;
  padding: 5px 10px 4px 10px;
  color: white;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;

  &.selected, &:hover {
    background: @df-dark-gray;
  }

  &.selected {
    font-weight: bold;
  }
}

.month-group {
  width: 33%;
  padding: 10px;
  display: inline-block;
}

.month {
  clear: both;
}

.box {
  background: lighten(@st-light-green, 15%);
  height: 8px;
  float: left;
  width: 16px;
  margin: 1px;
  cursor: pointer;
  position: relative;

  &:hover {
    background: @st-dark-green;

    .tooltip {
      display: block;
    }
  }
}

.tooltip {
  min-width: 300px;
  border-radius: 3px;
  background: white;
  display: none;
  position: absolute;
  left: 25px;
  top: 6px;
  z-index: 99;
  font-size: 12px;
  border: 1px solid @df-border-gray;

  .header {
    background: @df-dark-gray;
    color: white;
    padding: 5px 15px;
  }

  .component {
    padding: 10px 15px;
    border-bottom: 1px solid @df-light-gray;

    .name {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 11px;
    }

    .category {
      font-weight: normal;
      text-transform: lowercase;
      font-style: italic;
    }
  }
}

.trophies {
  .selected {
    background: @st-dark-orange;
  }

  .tro {
    background: @st-dark-orange;

    &:hover {
      background: darken(@st-dark-orange, 30%);
    }
  }
}

.bigfive {
  .selected {
    background: @st-dark-red;
  }
  .tro.elephant, .tro.rhinoceros, .tro.african-buffalo, .tro.lion, .tro.leopard {
    background: @st-dark-red;

    &:hover {
      background: darken(@st-dark-red, 30%);
    }
  }
}

.pai {
  .selected {
    background: @st-dark-purple;
  }
  .elephant, .rhinoceros, .tiger, .lion, .leopard, .cheetah, .marine-turtle, .shark, .ray, .pangolin {
    background: @st-dark-purple;

    &:hover {
      background: darken(@st-dark-purple, 30%);
    }
  }
}

.source {
  padding-top: 10px;
}
.source, .credit {
  font-size: 11.5px;
  text-align: right;
  color: @df-middle-gray;
}
