* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";

@gray: #b3a89e;

body {
  max-width: 960px;
  font-size: 16px;
  font-family: @df-sans;
}

.outmost {
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
  margin: 20px 0;
  padding: 20px 0;
}

.title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding-bottom: 5px;
}

.chatter {
  text-align: center;
  padding-bottom: 15px;
}

.loading {
  text-align: center;
  font-style: italic;
  padding: 10px;
}

.toggle-box {
  text-align: center;
  padding-bottom: 10px;
}

.toggle {
  background: darken(@gray, 18%);
  display: inline-block;
  padding: 5px 10px 4px 10px;
  color: white;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;

  &.selected, &:hover {
    background: darken(@gray, 40%);
  }

  &.selected {
    font-weight: bold;
  }

  @media @mobile {
    display: block;
    margin: auto;
    margin-top: 5px;
    padding: 8px 10px 6px 10px;
    width: 100px;
  }
}

.month-group {
  width: 33%;
  padding: 10px;
  display: inline-block;
  font-size: 13px;

  @media @tablet {
    width: 50%;
  }

  @media @mobile {
    width: 100%;
  }
}

.month {
  clear: both;
  padding-bottom: 3px;
}

.month-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.box {
  background: lighten(@gray, 15%);
  height: 8px;
  float: left;
  width: 16px;
  margin: 1px;
  cursor: pointer;
  position: relative;

  &:hover {
    background: darken(@gray, 10%);

    .tooltip {
      display: block;
    }
  }
}

.tooltip {
  min-width: 225px;
  border-radius: 3px;
  background: white;
  display: none;
  position: absolute;
  left: 25px;
  top: 6px;
  z-index: 99;
  font-size: 12px;
  border: 1px solid @df-border-gray;

  &.flipped-horiz {
    left: auto;
    right: 25px;
  }
  &.flipped-vert {
    top: auto;
    bottom: 6px;
  }

  .header {
    background: darken(@gray, 40%);
    color: white;
    padding: 5px 15px;
  }

  .components {
    padding: 10px 15px;
  }

  .component {
    padding-bottom: 8px;

    &:last-child {
      padding-bottom: 0;
    }

    .name {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 11px;
    }

    .category {
      font-weight: normal;
      text-transform: lowercase;
      font-style: italic;
    }
  }
}

.trophies {
  .selected {
    background: #da2128;
  }

  .tro {
    background: #da2128;

    &:hover {
      background: darken(#da2128, 30%);
    }
  }
}

.bigfive {
  .selected {
    background: #f36f21;
  }
  .tro.elephant, .tro.rhinoceros, .tro.african-buffalo, .tro.lion, .tro.leopard {
    background: #f36f21;

    &:hover {
      background: darken(#f36f21, 30%);
    }
  }
}

.pai {
  .selected {
    background: #524fa2;
  }
  .elephant, .rhinoceros, .tiger, .lion, .leopard, .cheetah, .marine-turtle, .shark, .ray, .pangolin {
    background: #524fa2;

    &:hover {
      background: darken(#524fa2, 30%);
    }
  }
}

.source {
  padding-top: 10px;
}
.source, .credit {
  font-size: 11.5px;
  text-align: right;
  color: @df-middle-gray;
}
