* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@trophy-color: #ed7162;
@big5-color: #fcbd7c;
@pai-color: #57375c;
@gray: lighten(#9cb5b6, 5%);

@import "flexbox";
@import "seattletimes";
@import "ui";
@import "calendar";
@import "coloring";


body {
  max-width: 960px;
  font-size: 16px;
  font-family: @df-sans;
}

.outmost {
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
  margin: 20px 0;
  padding: 20px 0;
}

.title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding-bottom: 5px;
}

.chatter {
  text-align: center;
  padding-bottom: 15px;
}

.source {
  padding-top: 10px;
}
.source, .credit {
  font-size: 11.5px;
  text-align: right;
  color: @df-middle-gray;
}
