@import "values";

.african-trophies {
  font-family: @df-sans;
  max-width: 630px;
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
  margin: 20px 0;
  padding: 20px 0;

  .title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-bottom: 5px;
  }

  .chatter {
    padding-bottom: 15px;
    text-align: center;
  }

  .tiles {
    text-align: center;
  }

  .tile {
    background: @df-off-white;
    display: inline-block;
    text-align: center;
    padding: 15px;
    width: 630 / 5;
    margin: 5px;
    border: 1px solid @df-light-gray;
  }

  .silhouette {
    width: 80px;
    top: 0;
    left: 0;
    margin-bottom: 10px;
  }

  .rank {
    margin: auto;
    font-size: 12px;
    background: @df-border-gray;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: inline-block;
    font-weight: bold;
  }

  .name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 8px;
  }

  .number {
    font-size: 14px;
    padding-top: 2px;
    color: @df-dark-gray;
  }

  .source {
    padding-top: 20px;
  }
  .source, .credit {
    font-size: 11.5px;
    text-align: right;
    color: @df-middle-gray;
  }

}