@import "values";

table.african-trophies {
  font-family: @df-sans;
  max-width: 630px;
  margin: auto;

  tr {
    border-bottom: 1px solid @df-light-gray;
  }

  th {
    text-align: left;
  }

  td {
    position: relative;
    vertical-align: text-bottom;
  }

  .quantity {
    text-align: right;
  }

  .silhouette {
    width: 80px;
    // position: absolute;
    top: 0;
    left: 0;
    // transform: translateX(-50%) translateY(-50%);
  }


}