.toggle-box {
  text-align: center;
  padding: 10px 0;

  @media @mobile {
    label {
      display: block;
    }
  }
}

.toggle, .arrow {
  display: inline-block;
  margin: -2px;
  padding: 5px 15px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  &.selected, &:hover {
    color: white;
    background: darken(@gray, 30%);
  }
}