.explainer {
  border: 1px solid @df-dark-gray;
  border-top: none;
  max-width: 630px;
  margin: 25px auto;

  .chatter {
    padding: 15px;
  }
}

.toggle-box {
  text-align: center;
  padding: 2px 0;
  background: @df-dark-gray;

  @media @mobile {
    label {
      display: block;
    }
  }
}

.toggle, .arrow {
  display: inline-block;
  margin: -2px;
  padding: 6px 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: white;

  &:hover {
    color: white;
    font-weight: bold;
    background: darken(@gray, 30%);
  }
}