.explainer {
  max-width: 630px;
  margin: 25px auto;
  margin-top: 20px;

  .chatter {
    padding: 15px;
    border: 1px solid darken(@gray, 10%);
    border-top: none;
    font-size: 15px;
  }
}

.toggle-box {
  text-align: center;
  padding: 2px 0;
  background: darken(@gray, 40%);

  @media @mobile {
    label {
      display: block;
    }
  }
}

.toggle, .arrow {
  display: inline-block;
  margin: -2px;
  padding: 8px 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: white;

  &:hover {
    color: white;
    font-weight: bold;
    background: darken(@gray, 30%);
  }
}