<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>[ng-cloak] {display: none;}</style>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body ng-app="animal-shipments">

    <responsive-child>

      <div ng-controller="animalController" ng-cloak>

        <div class="loading" ng-if="!monthGroups">Loading...</div>

        <div class="month-group" ng-repeat="group in monthGroups">
          <div class="month">{{group.monthName}}</div>
          <div class="box" ng-repeat="shipment in group.shipments" ng-class="{trophy: shipment.category == 'TRO'}"></div>
        </div>

      </div>

    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
