<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>[ng-cloak] {display: none;}</style>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body ng-app="animal-shipments">

    <responsive-child class="outmost">

      <div class="interactive" data-filter="trophies">

        <div class="title">Legal wildlife shipments through Port of Seattle in 2014</div>
        <div class="chatter">Wildlife entering the United States must be declared before it enters the country. The U.S. Fish and Wildlife Service is in charge of inspecting animal imports and keeps records of declarations. Every shipment of wildlife through the Port of Seattle, by air and sea, is listed below. Each square represents a single shipment. Click or tap to see its contents.</div>

        <div class="toggle-box">
          <label>Highlighted:</label>
          <div class="trophies toggle selected" data-set-filter="trophies">Trophies</div>
          <div class="pai toggle" data-set-filter="pai">Initiative 1401</div>
        </div>

        <div class="calendar"></div>

        <div class="focus">
          <div class="boxes"></div>
          <div class="details"></div>
        </div>

      </div>

      <div class="source"><em>Source: U.S. Fish and Wildlife Service</em></div>
      <div class="credit">AUDREY CARLSEN AND THOMAS WILBURN / THE SEATTLE TIMES</div>

    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
