<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="table.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child class="african-trophies">
      <div class="outmost">
        <div class="title">Top 10 African trophy animals</div>
        <div class="chatter">2,214 African trophy animals were legally shipped through the Port of Seattle in 2014.
        <br>These were the most popular:</div>

        <div class="tiles">
          <% csv.africanTrophies.slice(0, 10).forEach(function(row, i) { %>

            <% row.label = row.label[0] + row.label.substr(1).toLowerCase() %>

            <div class="tile">
              <div class="rank <%= row.label %>"><%= i + 1 %></div>

              <div>
                <img class="silhouette" src="./assets/<%= row.label.toLowerCase() %>.png">
              </div>
              
              <div class="name"><%= row.label %></div>
              <div class="number"> <% if (i == 0) { %> Number: <% } %><%= t.formatNumber(row.qty) %></div>
            </div>

          <% }) %>
        </div>

        <div class="source"><em>Source: U.S. Fish and Wildlife Service</em></div>
        <div class="credit">
          Data analysis by EVAN BUSH and JUSTIN MAYO, graphic by AUDREY CARLSEN / THE SEATTLE TIMES</div>
      </div>
    </responsive-child>

    <script src="table.js" async></script>
  </body>
</html>
